= form_for(@bookmark) do |f|
  - if @bookmark.errors.any?
    #error_explanation
      %h2
        = pluralize(@bookmark.errors.count, "error")
        prohibited this bookmark from being saved:
      %ul
        - @bookmark.errors.full_messages.each do |msg|
          %li= msg
  %table{:style => 'border-spacing:10px;'}
    %tr
      %th{:style => 'text-align:right;'} URL
      %td= f.text_field :url
    %tr
      %th{:style => 'vertical-align:top; text-align:right;'} Description
      %td= f.text_area :description, :cols => 100
      
  %br
    
  .actions
    = f.submit