= content_for :breadcrumbs do
  %li Bookmarks
= content_for :actions do
  - if @bookmark.user == current_user
    %li= link_to 'Edit', edit_bookmark_path(@bookmark), :class => 'editleft'
    %li= link_to 'Back', bookmarks_path, :class => 'backleft'

%p#notice
  
%h1{:style => 'float:left'}= @bookmark.title

%p{:class => 'sosumi', :style => 'float:right'}
  Bookmarked :
  = @bookmark.created_at.to_s(:long)
  By 
  = @bookmark.user.full_name
.clearer

%h3= @bookmark.url

%br

- if @url_status == true
  = link_to @bookmark.url do
    = image_tag '/images/buttons/btn_go_to_site.png'
- else
  = link_to @bookmark.url do
    = image_tag '/images/buttons/btn_go_to_site_red.png'

%h2.section{:style => 'margin-top:50px;'}
  Comments
#comments
  - if ! @bookmark.comments.blank?
    - @bookmark.comments.each do |comment|
      = render 'comment', :comment => comment
  - else
    %p.sosumi No comments have been added

%br/
- if current_user
  #comment_form
    = form_for [@bookmark, Comment.new] do |f|
      %p
        = f.label :body, "Comment"
      %p
        = f.text_area :body, :cols => '40', :rows => '10', :class => 'comment-field'
      %p{:style => 'float:right'}
        = image_submit_tag '/images/buttons/add_comment.png'
      .clearer
      %br/
