- title @bookmark.title

= content_for :breadcrumbs do
  %li= link_to 'Bookmarks', bookmarks_path
  %li= @bookmark.title
  
= content_for :actions do
  - if can? :edit, @bookmark
    %li= link_to 'Edit', edit_bookmark_path(@bookmark), :class => 'editleft'
    %li= link_to 'Back', bookmarks_path, :class => 'backleft'

:javascript
  $("#rails-version-list ul li").live('click', function() {
    $(this).toggleClass("active");
  })
  
%p#notice
  
%h1.float_left= @bookmark.title

%ul.sosumi.float_right
  %li
    Bookmarked :
    = "<strong>#{@bookmark.created_at.to_s(:long)}</strong>".html_safe
    By 
    = "<strong>#{@bookmark.user.full_name}</strong>".html_safe
.clearer

%h3= @bookmark.url

#vote.float_right
  = pluralize(@bookmark.votes, 'Vote')
  - unless !current_user || @bookmark.user_id == current_user.id || current_user.voted?(@bookmark)
    = image_tag 'up_vote.png', :value => @bookmark.id, :class => 'up_vote'
    
#share.float_right
  #fb-root
  = tweet_button(:text => @bookmark.title)
  = link_to(image_tag('facebook.gif'), '#', :class => "fb_share")
  = facebook_share_once

%br

- if @url_status == true
  = link_to @bookmark.url do
    = image_tag '/images/buttons/btn_go_to_site.png'
- else
  = link_to @bookmark.url do
    = image_tag '/images/buttons/btn_go_to_site_red.png'

%h2.section{:style => 'margin:50px 0 20px 0;'}
%h2.section
  Topics
  %span{:style => 'float:right; font-size:12px;'}
    - if can? :add_topic, @bookmark
      %a{:href => "#topic-form", :rel => "fancybox", :class => "addleft add-topic-link"} Add Topic
    
#topics
  - if ! @bookmark.topic_list.blank?
    - @bookmark.topic_list.each do |topic|
      %span= topic
  - else
    %p.sosumi No topics tagged
.clearer

%div{:style => 'display: none;'}
  #topic-form
    %h2 Add Topic
    = form_tag (bookmark_add_topic_path(@bookmark)), :remote => true do
      = text_field_tag :topic
      = submit_tag
    %p.sosumi Separate multiple topics with commas (ex: A, B, C)

%h2.section{:style => 'margin:50px 0 20px 0;'}
%h2.section
  Rails Versions
  %span{:style => 'float:right; font-size:12px;'}
    - if can? :add_rails_version, @bookmark
      = link_to 'Add Rails Version', '#rails-version-list', {:rel => 'fancybox', :class => 'addleft'}
     
#rails-versions
  - if ! @bookmark.rails_version_list.blank?
    - @bookmark.rails_version_list.each do |rails_version|
      %span= rails_version
  - else
    %p.sosumi No rails versions tagged
.clearer

%div{:style => 'display: none;'}
  #rails-version-list{:style => 'width:820px; height:550px; padding:10px 30px 20px 20px;'}
    %h2 Add Rails Version
    = form_tag bookmark_add_rails_version_path(@bookmark), :remote => true do
      - active_version = rails_versions.last[0]
      %h2= "Rails #{active_version}"
      %ul
        - rails_versions.reverse.each do |version|
          - if version[0] != active_version
            - active_version = version[0]
            %h2= active_version.to_i > 0 ? "Rails #{active_version}" : "Rails"
            %ul
          %li.version_check_box
            = check_box_tag("bookmark[rails_versions][]", version) + label_tag(version)
      = submit_tag
  
%h2.section{:style => 'margin:50px 0 20px 0;'}
%h2.section
  Ruby Versions
  %span{:style => 'float:right; font-size:12px;'}
    - if can? :add_ruby_version, @bookmark
      %a{:href => "#ruby_version_form", :rel => "fancybox", :class => "addleft add-ruby-link"} Add Ruby Version
    
#ruby-versions
  - if ! @bookmark.ruby_version_list.blank?
    - @bookmark.ruby_version_list.each do |ruby_version|
      %span= ruby_version
  - else
    %p.sosumi No ruby versions tagged
.clearer

%div{:style => 'display:none;'}
  #ruby_version_form
    %h2 Add Ruby Version
    = form_tag bookmark_add_ruby_version_path(@bookmark), :remote => true do
      = text_field_tag :ruby_version
      = submit_tag
    %p.sosumi Separate multiple versions with commas (ex: 1.8.6, 1.8.7, 1.9.2-p0, 1.9.2)


%h2.section{:style => 'margin:50px 0 20px 0;'} 
%h2.section Comments

#comments
  - if ! @bookmark.comments.blank?
    - @bookmark.comments.each do |comment|
      = render 'comment', :comment => comment
  - else
    %p.sosumi No comments have been added

%br/
- if can? :create, @comment
  - if current_user
    #comment_form
      = form_for [@bookmark, Comment.new] do |f|
        %p
          = f.label :body, "Comment"
          %p
          = f.text_area :body, :cols => '120', :rows => '10', :class => 'comment-field'
          %p.float_right
          = image_submit_tag '/images/buttons/add_comment.png'
          .clearer
          %br/
