= content_for :breadcrumbs do
  %li= link_to 'Bookmarks', bookmarks_path
  %li= @bookmark.title
= content_for :actions do
  - if @bookmark.user == current_user
    %li= link_to 'Edit', edit_bookmark_path(@bookmark), :class => 'editleft'
    %li= link_to 'Back', bookmarks_path, :class => 'backleft'

%p#notice
  
%h1{:style => 'float:left'}= @bookmark.title

%ul.sosumi{:style => 'float:right; list-style:none;'}
  %li
    Bookmarked :
    = "<strong>#{@bookmark.created_at.to_s(:long)}</strong>".html_safe
    By 
    = "<strong>#{@bookmark.user.full_name}</strong>".html_safe
.clearer

%h3= @bookmark.url

%br

- if @url_status == true
  = link_to @bookmark.url do
    = image_tag '/images/buttons/btn_go_to_site.png'
- else
  = link_to @bookmark.url do
    = image_tag '/images/buttons/btn_go_to_site_red.png'

%h2.section{:style => 'margin:50px 0 20px 0;'} Topics
#topics
  - if ! @bookmark.topic_list.blank?
    - @bookmark.topic_list.each do |topic|
      %span= topic
  - else
    %p.sosumi No topics tagged
.clearer

= form_tag bookmark_add_topic_path(@bookmark), :remote => true do
  = text_field_tag :topic
  = submit_tag


%h2.section{:style => 'margin:50px 0 20px 0;'} Rails Versions
#rails-versions
  - if ! @bookmark.rails_version_list.blank?
    - @bookmark.rails_version_list.each do |rails_version|
      %span= rails_version
  - else
    %p.sosumi No rails versions tagged
.clearer

= form_tag bookmark_add_rails_version_path(@bookmark), :remote => true do
  = text_field_tag :rails_version
  = submit_tag
  
%h2.section{:style => 'margin:50px 0 20px 0;'} Ruby Versions
#ruby-versions
  - if ! @bookmark.ruby_version_list.blank?
    - @bookmark.ruby_version_list.each do |ruby_version|
      %span= ruby_version
  - else
    %p.sosumi No ruby versions tagged
.clearer

= form_tag bookmark_add_ruby_version_path(@bookmark), :remote => true do
  = text_field_tag :ruby_version
  = submit_tag
  
%h2.section{:style => 'margin:50px 0 20px 0;'} Comments

#comments
  - if ! @bookmark.comments.blank?
    - @bookmark.comments.each do |comment|
      = render 'comment', :comment => comment
  - else
    %p.sosumi No comments have been added

%br/
- if current_user
  #comment_form
    = form_for [@bookmark, Comment.new] do |f|
      %p
        = f.label :body, "Comment"
      %p
        = f.text_area :body, :cols => '120', :rows => '10', :class => 'comment-field'
      %p{:style => 'float:right'}
        = image_submit_tag '/images/buttons/add_comment.png'
      .clearer
      %br/
