= content_for :breadcrumbs do
  %li Conferences

%h1= @conferences.first.name

%p
  Speaker : 
  = @conferences.first.speaker
  
%p
  Duration : 
  = distance_of_time_in_words(@conferences.first.enddate - @conferences.first.startdate).titleize
  
%p= @conferences.first.description

%br/

%h3
  = @conferences.first.seats
  Seats remaining!
  
%br
%br
- @conferences.shift


- if @conferences.size > 0
  %h2 Upcoming Conferences
  %table.nicetable.fullwidth
    %thead
      %tr
        %th Name
        %th Speaker
        %th Startdate
    %tbody
    - @conferences.each do |conference|
      %tr
        %td= link_to conference.name, conference
        %td= conference.speaker
        %td= conference.startdate.localtime.to_s(:long)
