- title 'Sign In'

%h1 Sign In

= content_for :breadcrumbs do
  %li Sign In

= form_for(@user_session) do |f|
  = f.error_messages
  %table.form
    %tr
      %th= f.label :email
      %td= f.email_field :email, :id => "email"
    %tr
      %th= f.label :password
      %td= f.password_field :password, :id => "password"
    %tr
      %th= f.label :remember_me, "Remember me?"
      %td= f.check_box :remember_me, {}, "true", "false"
  %br
        
  %p
    = image_submit_tag 'signin.png', :class => 'button_img'
