#topnav
  - if ! current_user
    #small_signup{:style => "width:500px; float:right; margin-top:0px"}
      %span New to prb?
      = link_to 'Sign up now', register_url, :class => "signup-button"
      Have an account? #{link_to 'Sign in', login_path, :class => "signin"}
    .clearer
  - else
    #sessioninfo
      %table{:style => "float:right"}
        %tr
          %td{:rowspan => "2"}= image_tag current_user.profile_image, :style => "margin-right:10px;"
          %td{:style => "vertical-align:top"}
            %span{:style => "padding-right:20px; font-weight:bold"}
              = current_user.first_name
              = current_user.last_name
              (#{current_user.nickname})
            = link_to 'Settings', settings_path
            %span.sosumi |
            = link_to 'Report Bug', 'http://github.com/remear/referencebin/issues'
            %span.sosumi |
            = link_to 'Logout', logout_path
            %span{:style => "padding-left:20px; font-weight:bold"}
              %a.addleft{:href => "http://www.pledgie.com/campaigns/6762?canvas=false", :target => "_new"} Donate
