!!! Strict
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "en-us", "http-equiv" => "Content-Language"}/
    %title#page_title Rubunity - Bookmarks
    = stylesheet_link_tag 'base', 'standard', 'sessioninfo', 'coderay', 'facebox'
    = javascript_include_tag 'jquery', 'application', 'facebox'
  %body
    #container.subpage
      #header
        = link_to root_url, :title => "prb", :id => "logo" do
          %img#bird{:alt => "Tweet, tweet!", :src => "/images/prb.png"}/
        %h3{:style => "color:#999999; position:absolute; left:90px; top:15px"} Per general consensus, pants are required.
        = render :partial => 'layouts/sessioninfo'
      .clearer
      %br/
      #toolbar
        %ul#breadcrumbs{:style => "width:400px; float:left"}
          %li#home= link_to '&nbsp;'.html_safe, '/'
          = yield :breadcrumbs
        %ul#actions{:style => "width:300px; text-align:right; float:right"}
          = yield :actions
      .clearer
      #content
        #main
          = yield
      = render :partial => 'layouts/footer'
