!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title
      Rubunity
      = "- " + yield(:title) unless !:title
    %meta{:content => "", :name => "description"}
      %meta{:content => "", :name => "keywords"}
        = stylesheet_link_tag 'base', 'nav', 'simple'
        = javascript_include_tag 'jquery', 'rails', 'application', 'facebox'
        
  %body
    #container
      = render 'layouts/header'
      .clearer
      #toolbar
        %ul#breadcrumbs
          %li#home= link_to '&nbsp;'.html_safe, '/'
          = yield :breadcrumbs
        %ul#actions
          = yield :actions
      #content
        = yield