!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title Rubunity
    = stylesheet_link_tag 'redesign'
    = javascript_include_tag 'jquery', 'rails'
  %body
    #container
      #logo
        %img{:src => 'images/logo_lg.png'}
      %form{:action => "", :method => "get"}
        .textInput
          %input{:name => "z", :placeholder => "Enter a search term...", :type => "text", :value => ""}/
      .clearer
      %p.subtext searches bookmarks, guides, comments, ruby & rails versions
      - if ! current_user
        #login-form-home
          %h3 Sign in
          = form_for @user_session, :as => :user_session, :url => { :controller => 'user_sessions', :action => 'create' } do |f|
            #login-field= f.text_field :email, :placeholder => 'name@example.com'
            #password-field= f.password_field :password, :placeholder => 'password'
            = f.submit 'Sign in', :class=>'signin'
      %p.sign_up
        or
        = link_to "Register", '/register'
        to join the community
        %br
        
    #footer_top
      .holder
        .left
          #widget_recent_entries
            %h3 Recent Bookmarks
            %ul
              - @recent_bookmarks.each do |bookmark|
                %li= link_to bookmark.title, bookmark
                          
        .right
          #twitterWidget
            #twitter
              %h3 Twitter Updates
              %ul#twitter_update_list
                %li
              %script{:src => "http://twitter.com/javascripts/blogger.js", :type => "text/javascript"}
              %script{:src => "http://twitter.com/statuses/user_timeline/remear.json?callback=twitterCallback2&count=3", :type => "text/javascript"}
              .dasheddivider
              %p{:align => "right"}
                %a.rightlink.png_crop{:href => "http://www.twitter.com/remear/"} Follow us on Twitter
        .divider

    #footer_bottom
      .holder
        .copy Rubunity - Per general consensus, pants are required. Copyright  2011. All Rights Reserved.
        .links
          %ul
        %div{:style => "clear:both;"}