!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title Rubunity
    %meta{:content => "", :name => "description"}
      %meta{:content => "", :name => "keywords"}
    = stylesheet_link_tag 'simple.css', 'base.css'
    = javascript_include_tag 'jquery', 'application'
  %body
    #gheader
      = render 'layouts/sessioninfo'
      #logo
      %p.subtext Rubunity - Per general consensus, pants are required
      = render :partial => 'layouts/gnav'
    #gheader-shadow
    #container
      #search-container
        %h2 Search for Ruby or Rails information
        %form{:action => "http://www.unixstamp.com/index.php", :method => "get", :onSubmit => "location.href = 'http://www.unixstamp.com/' + prepare(document.getElementById('convert-field').value); return (false);"}
          .textInput
            %input#convert-field.convertInput{:name => "z", :placeholder => "Enter a search term...", :type => "text", :value => ""}/
          .convertBtn
            %input{:src => "/images/buttons/search.png", :type => "image", :value => ""}/
        #clearer
        %p.subtext You can use almost any format for the date.
      #search-container-shadow
      - if current_user
        %p
          Welcome!
      - else
        #login-form-home
          %h3 Sign in
          = form_for @user_session, :as => :user_session, :url => { :controller => 'user_sessions', :action => 'create' } do |f|
            #login-field= f.text_field :email, :placeholder => 'name@example.com'
            #password-field= f.password_field :password, :placeholder => 'password'
            = f.submit 'Sign in', :class=>'signin'
