!!!
%html
  %head  
    %title
      Rubunity
      = "- " + yield(:title) unless !:title
    = stylesheet_link_tag 'flash', 'redesign', 'home'
    = javascript_include_tag 'jquery', 'rails', 'application', 'facebox'
    
  %body
    = yield

    = render 'layouts/footer_bottom'