!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title Rubunity
    %meta{:content => "", :name => "description"}
      %meta{:content => "", :name => "keywords"}
        = stylesheet_link_tag 'base.css'
        = stylesheet_link_tag 'nav.css'
        = stylesheet_link_tag 'simple.css'
  %body
    #container
      #globalheader
        #logo{:onclick => "window.location=\"/\""} &nbsp;
        #g-nav-util
          %span.quote{:style=>'float:left'} Rubunity - Per general consensus, pants are required
          = render :partial => 'layouts/sessioninfo'
          = render :partial => 'layouts/utilnav'
        #g-nav
          = render :partial => 'layouts/gnav'
        .clearer
        %br/
      .clearer
      
      #search-container
        %h2 Search for Ruby or Rails information
        %form{:action => "http://www.unixstamp.com/index.php", :method => "get", :onSubmit => "location.href = 'http://www.unixstamp.com/' + prepare(document.getElementById('convert-field').value); return (false);"}
          .textInput
            %input#convert-field.convertInput{:name => "z", :placeholder => "Enter a search term...", :type => "text", :value => ""}
          .convertBtn
            %input{:src => "/images/buttons/search.png", :type => "image", :value => ""}
        #clearer
        
        %p.subtext You can use almost any format for the date.
      #search-container-shadow
      #login-form-home
        %h3 Sign in
        = form_for :user_session, :url => { :controller => 'user_sessions', :action => 'create' } do |f|
          #login-field= f.text_field :email, :placeholder => 'name@example.com'
          #password-field= f.text_field :password, :placeholder => 'password'
          = f.submit 'Sign in', :class=>'signin'