!!!
%html

  %head    
    %title 
      Rubunity
      = "- " + yield(:title) unless !:title
    = stylesheet_link_tag 'base', 'nav', 'simple'
    = javascript_include_tag 'jquery', 'rails', 'application', 'facebox'
    = csrf_meta_tag
    
  %body
    #container
      = render 'layouts/header'
      .clearer

      #toolbar
        %ul#breadcrumbs
          %li#home= link_to '&nbsp;'.html_safe, '/'
          = yield :breadcrumbs
        %ul#actions
          = yield :actions
        .clearer
        
      #content
        = yield
      
      = render 'layouts/footer_bottom'
