!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:name => 'csrf-token', :content => form_authenticity_token}
    %meta{:name => 'csrf-param', :content => 'authenticity_token'}
    
    %title Rubunity
    - if params[:controller] == 'bookmarks'
      = stylesheet_link_tag 'bookmarks.css'
    = stylesheet_link_tag 'facebox.css'
    = stylesheet_link_tag 'redesign.css'
    = javascript_include_tag :defaults
    = javascript_include_tag 'facebox'
    
    #header
      .header_holder
        .logo
        .nav
          = render :partial => 'layouts/sessioninfo'
        #nav.bookmarks
          = render :partial => 'layouts/gnav'
        .divider
    #toolbar
      %ul#breadcrumbs
        %li#home= link_to '&nbsp;'.html_safe, '/'
        = yield :breadcrumbs
      %ul#actions
        = yield :actions
      .clearer
    #content
      .content_holder
        = yield
    #footer_bottom
      .holder
        .copy
          Copyright ©
          = succeed "." do
            %a{:href => "http://test.nattywp.com/business"} business Demo
          All Rights Reserved.
        .links
          %ul
            %li.current_page_item
              %a{:href => "http://test.nattywp.com/business"}
                %span Home
            %li
              %a{:href => "http://test.nattywp.com/business/category/blog/"}
                %span Blog
            %li.page_item.page-item-2
              %a{:href => "http://test.nattywp.com/business/about/", :title => "About"} About
            %li.page_item.page-item-101
              %a{:href => "http://test.nattywp.com/business/archives/", :title => "Archives"} Archives
            %li.page_item.page-item-211
              %a{:href => "http://test.nattywp.com/business/full-width/", :title => "Full width"} Full width
            %li.page_item.page-item-169
              %a{:href => "http://test.nattywp.com/business/sitemap/", :title => "Sitemap"} Sitemap
            %li.page_item.page-item-226
              %a{:href => "http://test.nattywp.com/business/preset-styles/", :title => "Preset Styles"} Preset Styles
        %div{:style => "clear:both;"}
          = render :partial => 'layouts/gnav'
        %div{:style => "clear:both;"}
